ion-content {
    --ion-background-color: #3b4752;
}

ion-header {
    position: absolute;
    --ion-background-color: #3b4752;
}

ion-toolbar {
    --ion-background-color: #3b4752;
    --opacity: 0;
}

ion-title {
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
    color: #fff;
}

.container {
    width: 100%;
    height: 200px;
    display: block;
    background-color: #408f96;
}

.overlay {
    position: relative;
    text-align: center;
    top: 70%;
}

ion-avatar {
    height: 125px;
    width: 125px;
    margin: auto;
    border: 3px solid #6e621a;
    --border-radius: 40%;
}

.avata {
    text-align: center;
    --ion-item-background: transparent !important;
}

.file {
    color: transparent !important;
}

ion-card {
    margin-top: 100px;
    --ion-background-color: transparent !important;
    box-shadow: none;
    text-align: center;
}

ion-card-subtitle {
    color: #999ca0;
}

ion-item {
    --ion-item-background: #536c77;
    text-align: center;
    color: #c2c3c4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
    --min-height: 35px;
    margin-bottom: 15px;
}

.wrap {
    height: 50px;
    --min-height: auto;
}

ion-label {
    text-align: center;
}

.change {
    --placeholder-color: #c2c3c4;
    --color: #c2c3c4;
}
