<div *ngIf="error" class="alert">{{ error }}
    <a class="closebtn" (click)="removeErr()">&times;</a>
</div>
<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Signup</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <form [formGroup]="signupForm">
        <ion-item>
            <ion-input placeholder="Your Name" formControlName="name" required></ion-input>
        </ion-item><br>

        <div class="role">
            <ion-radio-group formControlName="role" required>
                <ion-item>
                    <strong>You are:</strong>
                </ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label>Student</ion-label>
                                <ion-radio value="Student"></ion-radio>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Teacher</ion-label>
                                <ion-radio value="Teacher"></ion-radio>
                            </ion-item>
                        </ion-col>




                    </ion-row>
                </ion-grid>
            </ion-radio-group>
        </div>


        <ion-item>
            <ion-select placeholder="Select Your Department" formControlName="dept" okText="Okay" cancelText="Dismiss" required>
                <ion-select-option value="Computer Science Engineering">Computer Science Engineering</ion-select-option>
                <ion-select-option value="Mechanical Engineering">Mechanical Engineering</ion-select-option>
                <ion-select-option value="Civil Engineering">Civil Engineering</ion-select-option>
                <ion-select-option value="Chemical Engineering">Chemical Engineering</ion-select-option>
                <ion-select-option value="Electronics & Communication Engineering">Electronics & Communication Engineering</ion-select-option>
                <ion-select-option value="Electrical & Electronics Engineering">Electrical & Electronics Engineering</ion-select-option>
            </ion-select>
        </ion-item><br>
        <ion-item>
            <ion-input type="email" placeholder="Domain mail" formControlName="email" required email></ion-input>

        </ion-item> <span class="alert" *ngIf="email.touched && email.invalid">Enter domail mail </span><br>
        <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Password" minlength="6" required></ion-input>
        </ion-item><br>
        <ion-row>
            <ion-col>
                <ion-button expand="block" color="success" (click)="onSignUp()" shape="round" routerLink="/auth/login" [disabled]="!signupForm.valid">Signup</ion-button>
            </ion-col>
        </ion-row>
        <br>

    </form>
</ion-content>
