ion-item {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

ion-title {
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
    color: rgba(18, 19, 18, 0.308);
}