<ion-header>
    <ion-toolbar>
        <ion-title text-align="center" color="dark">Discussion Forum </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <strong>Want to ask a new question ?</strong>
        <ion-button shape="round" type="submit" color="success" (click)="goToNewDiscussion()" fill="clear" size="large">
            <ion-icon name="add-outline"></ion-icon>
        </ion-button>
    </ion-item><br><br>
    <ion-item>
        <strong> Exsting Discussion Threads</strong>
    </ion-item>
    <ion-item *ngFor="let question of questions ; ">
        <!-- <a [routerLink]="['showdiscussion',question.id]"> {{ question.content }}</a> -->
        <ion-text class="my-label" [routerLink]="['showdiscussion',question.id]" style="cursor: pointer;">{{ question.content }}</ion-text>

    </ion-item>


</ion-content>
