<div class="alert" *ngIf="error">
    {{ error }}
    <span class="closebtn" (click)="removeError()">&times;</span>
</div>
<ion-toolbar>
    <div class="logo">
        <img src="../../../assets/g-connect-logo.png">
    </div>

</ion-toolbar>


<ion-content>
    <div id="container">

        <ion-card>
            <ion-card-header>
                <ion-title>Login</ion-title>
            </ion-card-header>
            <ion-card-content>
                <div *ngIf="isLoading">
                    <!-- <app-loading-spinner></app-loading-spinner> -->
                </div>
                <form [formGroup]="loginForm">
                    <ion-item>
                        <ion-icon name="mail"></ion-icon>

                        <ion-input type="email" formControlName="email" placeholder="E-Mail"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="lock-closed"></ion-icon>

                        <ion-input type="password" formControlName="password" placeholder="Password" minlength="6"></ion-input>
                    </ion-item>
                    <ion-button expand="block" shape="round" (click)="onLogin()">Login</ion-button>
                </form>
                Dont have an account? <a routerLink="../signup">Signup</a>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>