img {
    height: 80px;
    width: 200px;
}

.logo {
    position: relative;
    text-align: center;
    top: 60%;
}

ion-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-content {
    --ion-background-color: #d2eef5;
}

ion-toolbar {
    --ion-background-color: #d2eef5;
}