<ion-toolbar contentId="first">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title><strong>G-Connect</strong></ion-title>

</ion-toolbar>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="discussion">
                <ion-label>Discussion</ion-label>
                <ion-icon name="chatbubbles"></ion-icon>
            </ion-tab-button>
            <ion-tab-button tab="posts">
                <ion-label>Posts</ion-label>
                <ion-icon name="card"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="allusers">
                <ion-label>All Users</ion-label>
                <ion-icon name="person"></ion-icon>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
